@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;

.topic {
    font-size: 1.3rem;
    color: v.$color-white;
    margin: 0 1rem 1rem 0;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    background-color: var(--first-color);
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;

    &:hover,
    &:active {
        text-decoration: underline;
    }
}
