@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;
.blogs {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 20rem;
    gap: 2rem 3rem;
    &__topics {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }
    &__topic {
        width: fit-content;
        font-size: 1.3rem;
        color: v.$color-white;
        margin: 0 1rem 1rem 0;
        padding: 0.5rem 1rem;

        background-color: var(--first-color);
        &:hover,
        &:active {
            text-decoration: underline;
        }
        border-radius: 5rem;
        -webkit-border-radius: 5rem;
        -moz-border-radius: 5rem;
        -ms-border-radius: 5rem;
        -o-border-radius: 5rem;
    }
    &__title {
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        padding: 0;
    }
    @include m.responsive(1199, 1) {
        padding: 3rem 2rem;
        grid-template-columns: 1fr;
        gap: 2rem 3rem;
        &__list {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    @include m.responsive(767, 1) {
        &__list {
            grid-template-columns: 1fr;
        }
    }
    @include m.responsive(575, 1) {
        padding: 1.5rem 1.5rem;

        &__list {
            margin-top: 0;
        }

        &__heading {
            display: none;
        }
    }
}
