@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;
.blogs {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 20rem;
    gap: 3rem;

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    &__topics {
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    @include m.responsive(1199, 1) {
        padding: 3rem 2rem;
        grid-template-columns: 1fr;
    }

    @include m.responsive(767, 1) {
        padding: 3rem 1.5rem;
    }
    @include m.responsive(575, 1) {
        padding: 1rem;
    }
}
