@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;
.project {
    width: 100%;
    max-width: 50rem;
    @include m.border-radius(1rem);
    overflow: hidden;
    box-shadow: v.$box-shadow;
    background-color: var(--container-color);
    &__image
    {
        padding: 1rem !important;
        @include m.border-radius(1.8rem);
        object-fit: cover;
        object-position: top;
    }

    &__info {
        padding: 1rem 2rem 2rem;
    }

    &__type {
        font-size: 1.5rem;
        color: var(--first-color);
        margin-right: 1rem;
        text-transform: uppercase;
    }
    &__title {
        font-size: 2.2rem;
    }
    &__action {
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }

    &__btn {
        background-color: var(--first-color);
        padding: 0.3rem 0;
        color: v.$color-white;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;

        &__icon {
            font-size: 2.5rem;
            margin-right: 0.5rem;
        }

        &_code {
            border: 1px solid var(--first-color);
            background-color: transparent;
            color: var(--text-color);
        }
    }
    
}
