:root {
    // Colors
    --hue-color: 250;
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    --container-color: #fff;
}

body.dark-theme {
    // Colors
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: var(--body-color);
    font-family: $body-font;
    font-weight: $font-weight-normal;
    line-height: 1.6;
    color: var(--text-color);
    font-size: $font-size-normal;
}

.main {
    padding: 8rem 0 0 0;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: $font-weight-semi-bold;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}
html.sr .load-hidden {
    visibility: hidden;
}

.section {
    padding: 7rem 0 3rem;

    %center {
        text-align: center;
    }
    &__title {
        font-size: 4rem;
        font-family: $heading-font;
        @extend %center;
    }

    &__subtitle {
        display: block;
        font-size: 1.6rem;
        @extend %center;
        margin-bottom: 6rem;
    }
}
.container {
    max-width: 1024px;
    margin: 0 auto;
}

.active-link {
    color: var(--first-color);
}

.scroll-active {
    box-shadow: $header-shadow;
}
