@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;

.skills {
    &__container {
        padding: 0.5rem;
        display: grid;
        row-gap: 7rem;
    }
    &__circles {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 3rem;
        justify-content: center;
        justify-items: center;
    }

    &__bars {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 3rem;
        padding: 0 2rem;
    }

    @include m.responsive(1199, 1) {
        &__circles {
            grid-template-columns: repeat(2, 1fr);
            gap: 6rem 0;
        }
    }

    @include m.responsive(767, 1) {
        &__container {
            row-gap: 4rem;
        }
        &__bars {
            grid-template-columns: 1fr;
            padding: 0 1rem;
        }
    }

    @include m.responsive(575, 1) {
        &__circles {
            grid-template-columns: 1fr;
            gap: 6rem 0;
        }
    }
}
