@use "abstracts/variables" as v;

%mouse-action {
    &:hover {
        color: var(--first-color);
    }
    &:active {
        color: var(--first-color-lighter);
    }
}

.header {
    width: 100%;
    position: fixed;
    z-index: v.$z-fixed;
    top: 0;
    left: 0;
    background-color: var(--body-color);
}

.nav {
    height: 7.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        font-size: 2.4rem;
        color: var(--title-color);
        font-weight: v.$font-weight-medium;
        font-family: v.$heading-font;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
        justify-items: center;
        font-family: v.$heading-font;
    }

    &__link {
        font-size: 1.7rem;
        color: var(--title-color);
        @extend %mouse-action;

        &_active {
            color: var(--first-color);
        }
    }

    &__icon {
        font-size: 2rem;
        cursor: pointer;
        @extend %mouse-action;
    }
}
