@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;
.qualification {
    &__container {
        display: grid;
        gap: 3rem;
        justify-content: center;
    }

    &__tabs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5rem;
    }

    &__lists {
        position: relative;
        &::after {
            content: "";
            display: block;
            width: 3px;
            height: 100%;
            background-color: var(--first-color);
            top: 6px;
            left: 50%;
            position: absolute;
            transform: translateX(-40%);
            -webkit-transform: translateX(-40%);
            -moz-transform: translateX(-40%);
            -ms-transform: translateX(-40%);
            -o-transform: translateX(-40%);
        }
    }

    & [data-content] {
        display: none;
    }

    &__active[data-content] {
        display: block;
    }

    @include m.responsive(767, 1) {
        &__container {
            padding: 0 2.4rem;
        }
    }
}
