@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;
.tab {
    display: flex;
    align-items: center;

    &_edu {
        justify-self: flex-end;
    }

    &__icon {
        font-size: 4rem;
        margin-right: 0.5rem;
    }

    &__label {
        font-size: 2rem;
        cursor: pointer;
    }

    &__active {
        color: var(--first-color);
    }

    @include m.responsive(575, 1) {
        &__icon {
            font-size: 3rem;
        }

        &__label {
            font-size: 1.9rem;
        }
    }
}
