@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;

.portfolio {
    &__container {
        padding-top: 2rem;
    }
    &__status {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
        
    }

    @include m.responsive(1199, 1) {
        &__container {
            padding: 2rem 2rem 0;
        }
    }

    @include m.responsive(767, 1) {
        &__container {
            padding: 2rem 3rem 0;
        }
        &__status {
            grid-template-columns: repeat(2, 1fr);
            gap: 6rem 3rem;
        }
    }
    @include m.responsive(575, 1) {
        &__container {
            padding: 2rem 1.5rem 0;
            max-width: 44rem;
        }
        &__status {
            grid-template-columns: 1fr;
        }
    }
}
