@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;
.scrolltracker {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: var(--first-color);
    z-index: v.$z-modal;

    @include m.responsive(575, 1) {
        top: initial;
        bottom: 0;
    }
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
