@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;

.projects {
    padding: 3rem 0;
    &__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    @include m.responsive(1199, 1) {
        padding: 3rem 2rem;
    }

    @include m.responsive(767, 1) {
    }

    @include m.responsive(575, 1) {
        padding: 1rem;
        &__list {
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            gap: 1.5rem;
        }
    }
}
