@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;

.about {
    &__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4.2rem;
        align-items: center;
    }

    &__image {
        width: 420px;
        justify-self: flex-end;
    }
    &__text {
        margin-bottom: 1.6rem;
    }

    &__btn {
        background-color: var(--first-color);
        padding: 1.5rem 1.7rem;
        display: inline-flex;
        align-items: center;

        color: v.$color-white;
        border-radius: 0.8rem;
        -webkit-border-radius: 0.8rem;
        -moz-border-radius: 0.8rem;
        -ms-border-radius: 0.8rem;
        -o-border-radius: 0.8rem;

        &__icon {
            font-size: 1.6rem;
            margin-left: 0.5rem;
        }
    }

    @include m.responsive(1199, 1) {
        &__container {
            padding: 0 1rem;
        }
        &__info {
            column-gap: 3rem;
        }
    }

    @include m.responsive(767, 1) {
        &__info {
            grid-template-columns: 1fr;
            gap: 2rem 0;
        }
        &__image {
            justify-self: center;
            width: 320px;
        }

        &__data {
            text-align: center;
            max-width: 50rem;
            margin: 0 auto;
        }
    }
    @include m.responsive(575, 1) {
        &__image {
            width: 270px;
        }
    }
}
